
<div class="titulo_cad">
    <center><h1>Cadastrar Produto</h1></center>
</div>

<form action="/Produto/Adiciona" method="post">
    @Html.AntiForgeryToken()
    @*Html.ValidationMessage("produto.Invalido")*@

    <div class="form_geral">

        <div class="form_geral_2">

            <label for="nome">Nome:</label>
            <input id="nome" name="produto.Nome" class="form-control" />
            @*<input id="nome" name="produto.Nome" value="@ViewBag.Produto.Nome"/>*@
            @Html.ValidationMessage("produto.Nome")

            <label for="tipo">Tipo:</label>
            <input id="tipo" name="produto.Tipo" class="form-control" />
            @*<input id="nome" name="produto.Nome" value="@ViewBag.Produto.Nome"/>*@

            <label for="descricao">Descricão:</label>
            <input id="descricao" name="produto.Descricao" class="form-control" />
            @*<input id="descricao" name="produto.Descricao" value="@ViewBag.Produto.Descricao"/>*@

        </div>

        <div class="form_geral_2">

            <label for="valor">Valor:</label>
            <input id="valor" name="produto.Valor" class="form-control" />
            @*<input id="valor" name="produto.Valor" value="@ViewBag.Produto.Valor"/>*@
            @Html.ValidationMessage("produto.Valor")

            <label for="quantidade">Quantidade:</label>
            <input id="quantidade" name="produto.Quantidade" class="form-control" />
            @*<input id="nome" name="produto.Nome" value="@ViewBag.Produto.Nome"/>*@
            @Html.ValidationMessage("produto.Quantidade")

        </div>

    </div>

            @*Adicionar combo_box para determinar uma categoria do produto*@
            @*<label for="categoria">Categoria:</label>
        <select id="categoria" name="produto.categoriaId">
            @foreach (var categoria in ViewBag.Categorias)
            {
                <option value="@categoria.Id" selected="@categoria.Id.Equals(ViewBag.Produto.CategoriaId)">
                @categoria.Nome
                </option>
            }
        </select>*@

    

        <div class="btn-cad-voltar">

            <input type="submit" value="Cadastrar" />
            <a href="/Home/Index2" class="btn-voltar" role="button">Voltar</a>

        </div>

</form>
