

<table class="table table-hover">
    <tr>
        <th>Nome:</th>
        <td>@ViewBag.Funcionario.Nome</td>
    </tr>
    <tr>
        <th>Telefone:</th>
        <td>@ViewBag.Funcionario.Telefone</td>
    </tr>
    <tr>
        <th>Data de Nascimento:</th>
        <td>@ViewBag.Funcionario.DataDeNascimento</td>
    </tr>
    <tr>
        <th>Endereço:</th>
        <td>@ViewBag.Funcionario.Endereco</td>
    </tr>
    <tr>
        <th>Sexo:</th>
        <td>@ViewBag.Funcionario.Sexo</td>
    </tr>
    <tr>
        <th>RG:</th>
        <td>@ViewBag.Funcionario.Rg</td>
    </tr>
    <tr>
        <th>CPF:</th>
        <td>@ViewBag.Funcionario.Cpf</td>
    </tr>
    <tr>
        <th>Cargo:</th>
        <td>@ViewBag.Funcionario.Cargo</td>
    </tr>
</table>

@Html.ActionLink("Voltar para a Lista de Funcionarios", "Index", "Funcionario")














