<div class="container">
    <h3>Id: @ViewBag.Funcionario.Id</h3><br />
    <h3>Nome: @ViewBag.Funcionario.Nome</h3><br />
    <h3>Telefone: @ViewBag.Funcionario.Telefone</h3><br />
    <h3>Data De Nascimento: @ViewBag.Funcionario.DataDeNascimento</h3><br />
    <h3>Endereco: @ViewBag.Funcionario.Endereco</h3><br />
    <h3>Sexo: @ViewBag.Funcionario.Sexo</h3><br />
    <h3>RG: @ViewBag.Funcionario.Rg</h3><br />
    <h3>CPF: @ViewBag.Funcionario.Cpf</h3><br />
    <h3>Cargo: @ViewBag.Funcionario.Cargo</h3><br />
    <h3>Login: @ViewBag.Funcionario.Login</h3><br />


    @Html.ActionLink("Voltar para a Lista de Funcionarios", "Index", "Funcionario")
</div>
