<div class="container">
    <h3>Id: @ViewBag.Servico.Id</h3><br />
    <h3>Nome: @ViewBag.Servico.Nome</h3><br />
    <h3>Tipo: @ViewBag.Servico.Tipo</h3><br />
    <h3>Valor: @ViewBag.Servico.Valor</h3><br />
    

    @Html.ActionLink("Voltar para a Lista de Serviços", "Index", "Servico")
</div>
